@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


body {
    background: #1F98A6;
    font: normal 15pt arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'roboto', sans-serif;
}

.box {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.5em;
}

.box h1 {
    color: #fff;
    font-size: 4em;
    z-index: 1;
}

.box::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 50%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 3.5s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 3px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

section {
    background: linear-gradient(90deg, transparent, #5b2be2);
    border-radius: 15px;
    padding: 10px;
    width: 450px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 75%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: .9;
    transition: all .3s ease-in-out;
}

section:hover {
    opacity: 1;
}

section #dados {
    position: relative;
}

section .inputs {
    width: 100px;
    height: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    transform: scaleX(1);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

section .inputs:focus {
    transform: scaleX(1.2) scaleY(1.2);
}

section p input[type='button'] {
    border-radius: 10px;
    font-size: 15px;
    transition: all .3s ease-in-out;
    transform-origin: center;
}

section p input[type='button']:hover {
    transform: scale(1.1);
}

footer {
    font-size: 15pt;
    color: #8C3B3B;
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

footer p {
    color: rgba(222, 184, 135, 0.678);
}

footer p a {
    text-decoration: none;
    color: #5b2be2;
    font-size: 15pt;
    transition: all .5s ease-in-out;
}

footer p a:hover {
    font-size: 20pt;
}


@media(max-width:500px) {
    section {
        width: 100%;
        height: 30%;
        padding: 1%;
    }

    .box {
        width: 100%;
        height: 65px;
        font-size: 10pt;
        padding: 1%;
    }
}